.about {
  width: 100%;
  position: relative;
  .story_wrap {
    height: auto;
    min-height: 400px;
  }

  .story {
    .section {
      margin: 0 0 25px auto;
      padding-right: 15px;
      &.mission {
        @media all and (max-width:767px) {
          padding-bottom: 20px;
          margin-bottom: 18px;
          border-bottom: 1px solid #d2d4d6;
        }
      }
      &.history {
        padding-top: 40px;
        @media all and (max-width:767px) {
          padding-top: 30px;
        }
      }
    }
    .data {
      margin-bottom: 40px;
      padding-top: 40px;
      padding-bottom: 35px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top:0;
        right: 0;
        display: block;
        width: 100vw;
        height: 100%;
        background-image: linear-gradient(to bottom, #d5f66c, #6a8117);
      }
      @media all and (max-width:1200px) {
        padding-top: 30px;
        height: auto;
        padding-bottom: 0;
      }
      &__list {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        padding-right: 40px;
        z-index: 1;
        @media all and (max-width:1200px) {
          flex-wrap: wrap;
          padding-left: 25px;
        }
        @media all and (max-width:767px) {
          padding-left: 0;
          padding-right: 0;
        }
      }
      &__item {
        margin: 0 13px;
        @media all and (max-width:1200px) {
          width: 50%;
          margin: 0;
          margin-bottom: 30px;
          flex-shrink: 0;
        }
        @media all and (max-width:767px) {
          width: auto;
          margin-bottom: 13px;
        }
        @media all and (max-width:520px) {
          width: 50%;
          margin: 0;
          margin-bottom: 30px;
          flex-shrink: 0;
        }
        .icon {
          height: 50px;
          margin-bottom: 25px;
        }
        .numbers {
          font-size: 32px;
          letter-spacing: 1.2px;
          color: #ffffff;
          margin-bottom: 9px;
        }
        .description {
          opacity: 0.57;
          font-size: 14px;
          line-height: 1.29;
          letter-spacing: 0.4px;
          color: #ffffff;
        }
      }
    }
  }
  .timeline {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(50% + 15px);
    flex-shrink: 0;
    height: 100%;
    overflow-y: hidden;
    &::before {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 1000%;
      background-color: #cfcfcf;
      top: 0;
      left: calc(50% - 0.5px);
      z-index: 1;
    }
    @media all and (max-width:767px) {
      display: none;
    }
    .mCSB_container {
      min-height: 100%;
    }
    &__wrap {
      position: relative;
      overflow: hidden;
      height: 100%;
      min-height: 400px;
      background-image: url('../img/background_timeline.jpg');
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 0;
      background-size: cover;
      @media all and (max-width:767px) {
        height: calc(100vh - 240px);
      }
    }
    &__content {
      width: 100%;
      min-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      position: relative;
      overflow: visible;
      overflow-y: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: nowrap;
      cursor: default;
      // &::after {
      //   content: '';
      //   display: block;
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   opacity: 0.36;
      //   background-color: #000000;
      // }
      .mark {
        position: relative;
        width: 66px;
        height: 27px;
        border-radius: 12.5px;
        background-color: #ffffff;
        border: solid 1px #cfcfcf;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        letter-spacing: 0.4px;
        text-align: center;
        color: #4a4a4a;
        transition: all 0.3s ease;
        z-index: 1;
        margin-top: 100px;
        &:last-child {
          margin-bottom: 150px;
        }
        &:hover {
          background-color: #aecd11;
          border: solid 1px #cfcfcf;
          color: #ffffff;
          .text {
            opacity: 1 !important;
          }
        }
        .text {
          position: absolute;
          top: 0;
          width: 220px;
          font-weight: 300;
          font-size: 13px;
          line-height: 1.46;
          letter-spacing: 0.4px;
          text-align: left;
          color: #ffffff;
          opacity: 0;
          &.left {
            right: 70px;  
          }
          &.right {
            left: 100px;
          }
        }
      }
    }
    @media all and (max-width: 1050px) {
      &__content {
        align-items: flex-start;
        padding-left: 15px;
        &::before {
          left: 50px;
        }
        .mark {
          margin-top: 140px;
          .text {
            left: 100px;
          }
        }
      }
    }
  }
}