.activities {
  padding: 55px 0 65px;
  .section {
    max-width: 860px;
  }
  @media all and (max-width: 767px) {
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;

    padding-top: 30px;
		border-bottom: 0px;
  }
}


.parallax {
  height: 270px;
  border-bottom: 8px #aecd11 solid;
  @media all and (max-width: 767px) {
    display: none;
  }
}


.activities_list {
  position: relative;
  padding-top: 80px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  &::after {
    display: none;
    content: '';
    position: absolute;
    // display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8px;
    background-color: #aecd11;
    @media all and (max-width: 1025px) {
      display: none;
    }
  }
  &__item {
    width: 33%;
    margin-bottom: 50px;
    padding-right: 15px;
    @media all and (max-width: 1025px) {
      // padding-right: 26px;
    }
    .item_icon {
      height: 50px;
      width: auto;
      margin-bottom: 30px;
      transition: all 0.3s ease;
    }
    .item_header {
      font-size: 16px;
      letter-spacing: 0.6px;
      margin-bottom: 7px;
      font-weight: 500;
    }
    .item_description {
      opacity: 0.6;
      font-size: 13px;
      line-height: 1.38;
      letter-spacing: 0.4px;
      text-align: left;
    }
    &:hover {
      .item_icon {
        fill: #b8cf41;
      }
    }
    &:last-child {
      width: 100%;
      max-width: 500px;
    }
  }
  @media all and (max-width: 1017px) {
    width: 100%;
    max-width: 750px;
    // padding: 45px 15px 0;
    padding: 45px 0 0;
    margin: 0 auto;
    &::after {
      height: 4px;
      top: -1px;
    }
    &__item {
      width: 33.3333%;
      padding-right: 26px;
      .item_icon {
        margin-bottom: 20px;
      }
    }
  }
  @media all and (max-width: 767px) {
    // padding-top: 0;
    padding: 0;
    flex-direction: column;
    &::after {
      display: none;
    }
    &__item {
      width: 100%;
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 20px;
      margin-right: 0;
      margin-bottom: 20px;
      &:last-child{
        border-bottom: 0px solid #e6e6e6;
      }
      .item_icon {
        margin-bottom: 20px;
      }
    }
  }
}