@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
}


body {
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
  overflow-x: hidden;
}

a,button,input {
  &:focus {
    outline: none;
  }
}

.wrap {
  min-height: calc(100vh - 250px);
  @media all and (max-width: 767px) {
    min-height: calc(100vh - 240px);
  }
}

.wrap_f_slider {
  width: 100%;
  padding: 0 0;
  @media all and (max-width:786px) {
    // padding: 0 15px;
  }
}


.section {
  &__header {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: #000000;
  }
  &__header_s {
    margin-bottom: 20px;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 0.7px;
    color: #000000;
  }
  &__text {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    color: #4a4a4a;
    font-weight: 300;
  }
}


.gray {
  background-color: rgba(230, 230, 230, 0.4);
  color: #4a4a4a;
}

.center {
  text-align: center;
}


.form {
  position: relative;
  &__wrap {
    display: flex;
    position: relative;
    transition: all 0.3s ease;
  }
  &__inputs {
    width: 272px;
    margin-right: 25px;
    .input_wrap {
      vertical-align: top;
      position: relative;
      margin-bottom: 20px;
      .input {
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #d2d4d6;
        padding: 11px 20px 0;
        &.error {
          border-color: rgb(224, 78, 78);
        }

      }
      .placeholder {
        position: absolute;
        pointer-events: none;
        left: 20px;
        top: 0;
        line-height: 50px;
        transition: all 0.3s ease;
        color: #4a4a4a;
      }
      .input:focus~.placeholder,
      .input:not(:focus):valid~.placeholder {
        top: -8px;
        font-size: 10px;
        color: #888888;
      }  
    }
  }
  &__others {
    width: 272px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .textarea_wrap {
      vertical-align: top;
      position: relative;
      width: 100%;
      margin-bottom: 20px;
      .textarea {
        width: 100%;
        height: 190px;
        background-color: #ffffff;
        box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.1);
        border: solid 1px #d2d4d6;
        padding: 20px 20px;
        &.error {
          border-color: rgb(224, 78, 78);
        }
      }
      .placeholder {
        position: absolute;
        pointer-events: none;
        left: 20px;
        top: 15px;
        transition: all 0.3s ease;
        color: #4a4a4a;
      }
      .textarea:focus~.placeholder,
      .textarea:not(:focus):invalid~.placeholder {
        top: 10px;
        font-size: 10px;
        color: #888888;
      }  
    }
  }
  .thanks {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    .btn_green {
      flex-shrink: 0;
    }
  }
  &.submited {
    .contacts_form {
      opacity: 0;
      visibility: hidden;
    }
    .form__wrap {
      opacity: 0;
      visibility: hidden;
    }
    .thanks {
      opacity: 1;
      visibility: visible;
    }
  }
}


.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  &.submited {
    opacity: 0;
    visibility: hidden;
  }
}

.btn_black {
  display: inline-block;
  height: 35px;
  border-radius: 3px;
  background-color: #383838;
  border: solid 1px rgba(85, 94, 41, 0.5);
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
  padding: 0 45px;
  cursor: pointer;
  line-height: 35px;
  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

.btn_green {
  height: 40px;
	background-color: #ffffff;
  border: solid 1px #b8cf41;
  font-size: 16px;
	letter-spacing: 0.6px;
	text-align: center;
  color: #b8cf41;
  padding: 0 45px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background-color: #CAE344;
    color: #000000;
  }
}

.btn_green_fill {
  border: none;
  height: 40px;
  background-color: #aecd11;
  font-size: 16px;
	letter-spacing: 0.6px;
	text-align: center;
  color: #000000;
  padding: 0 45px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #CAE344;
  }
}

@keyframes rotating {
  from{
      -webkit-transform: rotate(0deg);
  }
  to{
      -webkit-transform: rotate(360deg);
  }
}


.file_select {
  .file_label {
    padding: 0;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    .loader {
      display: none;
      width: 20px;
      height: 20px;
      background-image: url('../img/file_loader.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      animation: rotating 2s linear infinite;
      margin-right: 9px;
      transition: all 0.3s ease;
    }
    &.loading {
      .icon {
        display: none;
      }
      .loader {
        display: block;
      }
    }
    .icon {
      margin-right: 14px;
      fill: #b8cf41;
      transition: all 0.3s ease;
    }
    .file_info {
      flex-grow: 1;
    }
    .file_name {
      font-size: 14px;
      letter-spacing: 0.4px;
      text-align: left;
	    color: #4a4a4a;
    }
    .file_wheight {
      font-size: 12px;
      letter-spacing: 0.4px;
      text-align: left;
      color: #9b9b9b;
      display: none;
    }
    &.selected {
      .loader {
        margin-left: -20px;
      }
      .icon {
        margin-left: -30px;
      }
      .file_wheight {
        display: block;
      }
    }
  }
  .file_input {
    flex-shrink: 1;
    flex-grow: 0;
    width: 1px;
  }
}


.mark_title {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: inline-block;
  visibility: hidden;
  &__name {
    color: #ffffff;
    position: relative;
    z-index: 2;
    padding: 3px 8px;
    letter-spacing: 0.5px;
    font-size: 14px;
  }
  .background {
    position: absolute;
    width: 100%;
    height: 25px;
    opacity: 0.55;
    top: 0;
    left: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.5px;
    background-color: rgba(0, 0, 0, 1);
    transition: opacity 0.2s ease;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 10px;
      height: 15px;
      border: 15px solid rgba(0, 0, 0, 0);
      border-left-color: rgba(0, 0, 0, 1);
      left: 0;
      bottom: -10px;
    }
  }
  &.hover {
    opacity: 1;
    visibility: visible;
  }
}


.container {
  padding-left: 45px;
  padding-right: 45px;
  @media all and (max-width: 1025px) {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  @media all and (max-width: 767px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}