.career_description {
  padding-top: 55px;
  padding-bottom: 40px;
  .section {
    padding-right: 60px;
    @media all and (max-width: 1025px) {
      padding-right: 0;
    }
  }
  @media all and (max-width:767px) {
    padding-bottom: 0;
    padding-top: 30px;
    .section {
      padding-right: 0;
    }
    .section__text {
      border-bottom: 2px solid #d2d4d6;
      padding-bottom: 25px;
    }
  }
}


.parallax {
  height: 275px;
  @media all and (max-width: 1025px) {
    height: 168px;
  }
  @media all and (max-width:767px) {
    display: none;
  }
}

.green_line {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right:0;
    width: calc(50% - 15px);
    height: 8px;
    background-color: #aecd11;
    @media all and (max-width:1017px) {
      width: 100%;
      height: 4px;
    }
  }
  @media all and (max-width:767px) {
    display: none;
  }
}


.career {
  padding-top: 28px;
  padding-bottom: 55px;
  .section {
    padding-bottom: 30px;
    padding-top: 30px;
    @media all and (max-width:1025px) {
      padding-top: 25px;
      padding-bottom: 25px;
      &.last_section {
        padding-bottom: 6px;
      }
    }
    @media all and (max-width:767px) {
      padding-bottom: 0;
      &:last-child {
        border-bottom: 2px solid #d2d4d6;
      }
    }
    &__text {
      margin-bottom: 24px;
    }
    .links {
      display: flex;
      .description,.send {
        cursor: pointer;
        flex-grow: 1;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.4px;
        text-align: left;
        color: #4a4a4a;
        text-decoration: underline;
        .icon {
          margin-right: 10px;
          fill: #4a4a4a;
        }
      }
      .description:hover,.send:hover {
        color: #4a4a4a;
        text-decoration: none;
        .icon {
          margin-right: 10px;
          fill: #b8cf41;
        }
      }
      .description {
        margin-right: 15px;
        @media all and (max-width:767px) {
          display: none;
        }
      }
    }
    &.vacancy {
      &:last-child {
        padding-bottom: 20px;
      }
      .section__text {
        padding-right: 32px;
      }
    }
    &.vacancy:hover {
      background-color: transparent;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        right: 0;
        height: 100%;
        width: 100vw;
        background-color: #f5f5f5;
        z-index: -1;
        @media all and (max-width:1017px) {
          display: none;
        }
      }      
    }
  }
  @media all and (max-width:1017px) {
    padding-top: 20px;
  }
  @media all and (max-width:767px) {
    padding-top: 0;
  }
}
.search {
  display: flex;
  .btn_green_fill {
    height: 50px;
    @media all and (max-width:600px) {
      padding: 0 20px;
    }
  }
  @media all and (max-width:1017px) {
    margin-bottom: 30px;
  }
  @media all and (max-width:767px) {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 2px #d2d4d6;
  }
}
.select {
  position: relative;
  flex-grow: 1;
  margin-right: 20px;
  @media all and (max-width:767px) {
    margin-right: 0;
  }
  &__selected {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #d2d4d6;
    padding-left: 20px;
    @media all and (max-width:400px) {
      padding: 0 10px;
    }
    cursor: pointer;
    .description {
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 0.4px;
      color: #888888;
      @media all and (max-width:400px) {
        font-size: 10px;
        line-height: 1;
      }
    }
    .value {
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.4px;
      color: #4a4a4a;
      @media all and (max-width:400px) {
        font-size: 12px;
        line-height: 1;
      }
    }
    .icon {
      width: 20px;
      height: 20px;
      background-image: url('../img/arrow_left.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 20px;
      top: 15px;
      transform: rotate(-90deg);
      transition: all 0.3s ease;
    }
  }
  &__list {
    top: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    border: solid 1px #d2d4d6;
    border-top: 0 solid #000;
    opacity: 0;
    transition: 0.3s ease;
    z-index: 1;
  }
  &__item {
    .radio {
      display: none;
    }
    .label {
      display: block;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      cursor: pointer;
      background-color: #ffffff;
      &:hover {
        background-color: #f9f9f9;
      }
      @media all and (max-width:400px) {
        padding-left: 10px;
        font-size: 12px;
      }
    }
    .radio:checked ~ .label {
      color: #b8cf41;
    }
  }
  &.visible {
    .select__selected {
      .icon {
        transform: rotate(90deg);
      }
    }
    .select__list {
      opacity: 1;
    }
  }
}

.form {
  .form__wrap {
    flex-wrap: wrap;
    justify-content: space-between;
    .buttons {
      width: 100%;
      flex-grow: 1;
    }
  }
  .buttons {
    width: 100%;
  }
  &__others {
    .textarea_wrap {
      height: 260px;
      .textarea {
        height: 260px;
      }
    }
  }
  &__inputs,  &__others {
    width: calc(50% - 12.5px);
    flex-grow: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
  }
  &__inputs {
    margin-left: 0;
    // margin-right: 12.5px;
  }
  &__others {
    // margin-left: 12.5px;
    margin-right: 0;
  }
  @media all and (max-width:600px) {
    width: 100%;
    .form__wrap {
      flex-direction: column;
    }
    &__inputs,  &__others {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    &__inputs {
      .file_list {
        display: none;
      }
    }
    .btn_green_fill {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
  @media all and (max-height:550px) {
    display: block;
  }
  @media all and (max-width:767px) {
    display: block;
  }
  &__window {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 75px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 15px;
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.3s ease;
    .btn_close {
      position: absolute;
      top: 30px;
      right: 30px;
      height: 25px;
      width: 25px;
      padding: 0;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      &::after,&::before {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #979797;
        top: 50%;
        left: 0;
        transition: all 0.3s ease;
      }
      &::after {
        transform: rotate(45deg)
      }
      &::before {
        transform: rotate(-45deg)
      }
      &:hover {
        &::after,&::before {
          background-color: #000000;
        }
      }
    }
    .section__header {
      padding-right: 40px;
    }
    .input {
      max-width: 100%;
    }
    .section {
      &__text {
        width: 100%;
        max-width: 500px;
        margin-bottom: 30px;
      }
    }
    @media all and (max-height:550px) {
      display: block;
      padding-top: 80px;
      padding-bottom: 35px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0;
      height: 100%;
      width: 100vw;
      overflow-y: auto;
    }
    @media all and (max-width:767px) {
      display: block;
      padding-top: 80px;
      padding-bottom: 35px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0;
      height: 100%;
      width: 100vw;
      overflow-y: auto;
    }
  }
  &.visible {
    visibility: visible;
    opacity: 1;
    .popup__window {
      transform: translateX(0);
      opacity: 1;
    }
  }
}