.contacts_top_header, .contacts_header {
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 0.8px;
  margin-bottom: 23px;
}

.contacts_top {
  padding-top: 45px;
  @media all and (max-width: 767px) {
    padding-top: 30px;
  }
  &__list {
    margin-bottom: 25px;
  }
  &__item {
    padding-bottom: 15px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      background-color: #b9d041;
      transition: all 0.3s ease;
    }
    .country {
      font-size: 12px;
      letter-spacing: 0.4px;
      margin-bottom: 6px;
      color: #000000;
    }
    .adres {
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.4px;
      color: #4a4a4a;
    }
    .mail {
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.4px;
      color: #b8cf41;
    }
    &.active {
      &::after {
        height: 3px;
        background-color: #b9d041;
      }
    }
    &:hover {
      &:not(.active) {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    @media all and (max-width: 767px) {
      margin-bottom: 20px;
      &::after {
        height: 2px;
        background-color: #d2d4d6;
      }
    }
  }

}


.contacts_bottom_wrap {
  display: flex;
  flex-direction: column;
}


.map_wrap {
  position: relative;
  .map {
    width: 100%;
    height: 280px;
    background-color: rgb(184, 175, 175);
    transition: all 0.4s ease;
    &.big {
      height: 725px;
    }
    @media all and (max-width: 767px) {
      height: 80vh;
    }
  }
  .btn_zoom_map {
    position: absolute;
    bottom:-8px;
    right: 0;
    width: calc(((100% / 2) - (1125px / 2)) + (1065px / 4));
    height: 57px;
    background-color: rgba(#000000, 0.45);
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #ffffff;
    text-align: left;
    padding-left: 60px;
    border: none;
    border-bottom: 8px solid #aecd11;
    background-image: url('../img/zoom_in.png');
    background-repeat: no-repeat;
    background-position: 23px center;
    &::after {
      content: '';
      background-image: url('../img/zoom_out.png');
    }
    &.zoom {
      background-image: url('../img/zoom_out.png');
    }
    &:focus {
      outline: 0;
    }
    @media all and (max-width: 1025px) {
      width: calc(50% - 12.5px);
    }
    @media all and (max-width: 767px) {
      display: none;
    }
  }
}


.contacts_bottom {
  padding-top: 60px;
  margin-bottom: 70px;
  @media all and (max-width: 1025px) {
    margin-bottom: 40px;
  }
  @media all and (max-width: 767px) {
    padding-top: 30px;
  }
  .map_img_wrap {
    @media all and (max-width: 767px) {
      display: none;
    }
  }
  .contacts_header {
    margin-bottom: 30px;
  }
  .map_svg {
    position: relative;
  }
  .map_img {
    width: 100%;
    max-width: 770px;
  }
  @media all and (max-width: 767px) {
    // padding-top: 0;
    // order: -1;
  }
}
.contacts_form {
  display: flex;
  flex-direction: column;
  .form__inputs {
    margin-right: 0;
    width: 100%;
  }
  .form__others {
    width: 100%;
    .textarea {
      width: 100%;
      height: 165px;
      background-color: #ffffff;
      box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px #d2d4d6;
      padding: 15px 20px;
      @media all and (max-width: 1025px) {
        height: 95px;
      }
    }
  }
  .input {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 2px 3px 6px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #d2d4d6;
    padding: 15px 20px;
  }
  .btn_green_fill {
    width: 100%;
    max-width: 213px;
    @media all and (max-width: 767px) {
      max-width: 149px;
      padding: 0 0;
    }
  }
}

.footer {
  @media all and (max-width: 767px) {
    display: none;
  }
}