.footer {
  padding: 40px 0 0;
  background-color: #4a4a4a;
  background-image: url('../img/background_footer.gif');
  color: #ffffff;
  position: relative;
  height: 190px;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
    .logo {
      width: 48px;
      height: 42px;
      object-fit: contain;
      margin-right: 24px;
    }
    .contacts {
      .name {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.4px;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .adres {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.4px;
        text-align: left;
        color: #d2d4d6;
        margin-bottom: 10px;
      }
      .phone {
        display: block;
        font-size: 14px;
        color: #ffffff;
        text-decoration: none;
        margin-bottom: 10px;
      }
      .mail {
        display: block;
        font-size: 12px;
        color: #ffffff;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
    @media all and (max-width: 1017px) {
      width: auto;
    }
  }
  &__nav {
    width: 585px;
    .nav_footer {
      padding-bottom: 13px;
      border-bottom: 1px solid rgba(#979797, 0.5);
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;
      &:hover {
        .active {
          color: #d2d4d6;
          &:hover {
            color: #b8cf41;
          }
        }
      }
      &__link {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.4px;
        text-align: left;
        color: #d2d4d6;
        text-transform: uppercase;
        transition: all 0.3s ease;
        &:last-child {
          margin-right: 0;
        }
        &:hover, &.active {
          color: #b8cf41;
          text-decoration: none;
        }
      }
      @media all and (max-width: 1017px) {
        display: none;
      }
    }
    .links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .socials {
        display: flex;
        justify-content: flex-start;
        &__link {
          margin-right: 13px;
          &:last-child {
            margin-right: 0;
          }
          &.fb,&.in {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 24px;
            height: 24px;
          }
          &.fb {
            background-image: url('../img/icons/icon_fb_footer.png');
            &::after {
              content: '';
              background-image: url('../img/icons/icon_fb_footer_hover.png');
            }
            &:hover {
              background-image: url('../img/icons/icon_fb_footer_hover.png');
            }
          }
          &.in {
            background-image: url('../img/icons/icon_in_footer.png');
            &::after {
              content: '';
              background-image: url('../img/icons/icon_in_footer_hover.png');
            }
            &:hover {
              background-image: url('../img/icons/icon_in_footer_hover.png');
            }
          }
        }
      }
      .creater {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100px;
        height: 30px;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.08;
        text-align: left;
        color: #9b9b9b;
        text-decoration: none;
        background-image: url('../img/logo_creater.png');
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 40px;
        transition: all 0.3s ease;
        &::after {
          content: '';
          background-image: url('../img/logo_creater_hover.png');
        }
        &:hover {
          background-image: url('../img/logo_creater_hover.png');
          color: #ffffff;
        }
      }
      @media all and (max-width: 1017px) {
        justify-content: flex-end;
        .socials {
          margin-right: 30px;
        }
      }
    }
    @media all and (max-width: 767px) {
      display: none;
    }
  }
  @media all and (max-width: 767px) {
    padding: 20px 0 25px;
    height: 180px;
  }
}