.header {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  transition: height 3s ease, opacity 3s ease;
  z-index: 10;
  &.dark {
    background-color: rgba(74, 74, 74, 0.9) !important;
    .nav_header__link {
      color: #c1c1c1;
    }
    .nav_header__link.active, .header.dark .nav_header__link:hover{
      color: #b8cf41;
    }
    .nav_header {
      flex-grow: 1;
      text-align: right;
      margin-right: 30px;
      &:hover {
        .active {
          color: #c1c1c1;
          &:hover {
            color: #b8cf41;
          }
        }
      }
    }
  }
  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    transition: all 0.3s ease;
  }
  .logo_a {
    display: block;
    margin: 0;
    padding: 0;
  }
  .logo {
    width: 141px;
    height: 60px;
    object-fit: contain;
    display: block;
    object-position: left center;
  }

  .nav_heder_wrap {
    flex-grow: 1;
    overflow: hidden;
    transition: all 0.3s ease;
    border-top: 0 solide #ffffff;
    transition: all 0.3s ease;
    opacity: 1;
    .contacts {
      display: none;
      padding-left: 40px;
      .phone {
        font-size: 19px;
        font-weight: 400;
        line-height: 1.11;
        letter-spacing: 0.6px;
        color: #4a4a4a;
        text-decoration: none;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 12px;
        .icon {
          width: 24px;
          height: 24px;
          fill: #8f8f8f;
        }
      }
      .adres {
        border-top:	solid 2px #d2d4d6;
        padding-top: 23px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.4px;
        color: #4a4a4a;
      }
      .mail {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.4px;
        color: #b8cf41;
        text-decoration: none;
      }
    }
    @media all and (max-width:1017px) {
      order: 1;
      text-align: center;
      background-color: #ffffff;
      width: 100%;
      height: 0;
      opacity: 0;
      .nav_header {
        margin-right: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
      }
    }
    @media all and (max-width:760px) {
      display: flex;
      .nav_header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        text-align: left;
        width: 300px;
        margin: 30px 0;
        border-right:	solid 1px #d2d4d6;
        z-index: 2;
        &__link {
          margin: 0;
        }
      }
    }
    @media all and (max-width:760px) and (orientation:landscape) {
      flex-direction: row;
      .contacts {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        margin: 30px 0;
      }
    }
    
    @media all and (max-width:760px) and (orientation:portrait) {
      flex-direction: column;
      .nav_header {
        align-items: flex-start;
        justify-content: space-between;
        border-right:	solid 0 #d2d4d6;
        margin-bottom: 75px;
        &__link {
          // margin-bottom: 35px;
        }
      }
      .contacts {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 30px;
        padding-left: 0;
        border-top:	solid 2px #d2d4d6;
      }
    }
  }

  .nav_header {
    flex-grow: 1;
    text-align: right;
    margin-right: 30px;
    &:hover {
      .active {
        color: #4a4a4a;
        &:hover {
          color: #b8cf41;
        }
      }
    }
    &__link {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.5px;
      color: #4a4a4a;
      text-transform: uppercase;
      transition: all 0.3s ease;
      margin-right: 22px;
      &:last-child {
        margin-right: 0;
      }
      &:hover, &.active {
        color: #b8cf41;
        text-decoration: none;
      }
    }
  }
  .socials {
    display: flex;
    justify-content: flex-end;
    &__link {
      margin-right: 13px;
      &:last-child {
        margin-right: 0;
      }
      &.fb,&.in {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 24px;
        height: 24px;
      }
      &.fb {
        background-image: url('../img/icons/icon_fb.png');
        &::after {
          content: '';
          background-image: url('../img/icons/icon_fb_hover.png');
        }
        &:hover {
          background-image: url('../img/icons/icon_fb_hover.png');
        }
      }
      &.in {
        background-image: url('../img/icons/icon_in.png');
        &::after {
          content: '';
          background-image: url('../img/icons/icon_in_hover.png');
        }
        &:hover {
          background-image: url('../img/icons/icon_in_hover.png');
        }
      }
    }
    @media all and (max-width: 1017px) {
      flex-grow: 1;
    }
  }
  .nav_btn {
    display: none;
    padding: 0;
    border: none;
    padding: 9px 0;
    margin-left: 30px;
    transition: all 0.3s ease;
    background-color: #ffffff;
    @media all and (max-width: 380px) {
      margin-left: 15px;
    }
    &:focus {
      outline: 0;
    }
    .line {
      position: relative;
      display: block;
      width: 24px;
      height: 3px;
      background-color: #8f8f8f;
      transition: all 0.3s ease;
      &::after, &::before {
        content: '';
        position: absolute;
        left: 0;
        display: block;
        width: 24px;
        height: 3px;
        background-color: #8f8f8f;
        transition: all 0.3s ease;
      }
      &::after {
        top: -8px;
      }
      &::before {
        bottom: -8px;
      }
    }
    @media all and (max-width: 1017px) {
      display: block;
    }
  }

  &.visible {
    .header__wrap {
      .nav_heder_wrap {
        opacity: 1;
        @media all and (max-width:1017px) {
          height: 60px;
          min-height: 60px;

          border-top: solid 2px #d2d4d6;
        }
        @media all and (max-width:760px) and (orientation:landscape) {
          height: 100%;
          min-height: calc(100vh - 60px);
        }
        
        @media all and (max-width:760px) and (orientation:portrait) {
          height: 100%;
          min-height: calc(100vh - 60px);
        }
      }
      .nav_btn {
        .line {
          background-color: transparent;
          &::after {
            transform: rotate(45deg);
            top: 0;
          }
          &::before {
            transform: rotate(-45deg);
            top: 0;
          }
        }
      }
    }
  }
}




.header .nav_btn, .header .nav_heder_wrap {
	background: inherit;
}
.header.visible .header__wrap .nav_heder_wrap {
	border-top: solid 1px #d2d4d6;
}