
.slider {
  height: 450px;
  margin-bottom: 90px;
  position: relative;
  @media all and (max-width: 1025px) {
    margin-bottom: 63px;
  }
  .slick-prev, .slick-next {
    top: 50%;
  }
  @media all and (max-width: 767px) {
    height: calc(100vh - 60px);
    margin-bottom: 30px;
    .slick-list {
      height: 100%;
      .slick-track {
        height: 100%;
        .slide {
          height: 100%;
        }
      }
    }
    .slick-dots {
      bottom: 10px;
    }
  }
  .slick-prev {
    left: 10px;
  }
  .slick-next {
    right: 10px;
  }
  .slide {
    position: absolute;
    height: 450px;
    &.slick-slide {
      position: relative;
    }
    &__img {
      width: 100%;
      height: 450px;
      object-fit: cover;
      top: 0;
      left: 0;
      @media all and (max-width: 767px) {
        height: 100%;
      }
    }
    &__header {
      width: 100%;
      position: absolute;
      top: 200px;
      left: 0;
      opacity: 1;
      transition: all 0.3s ease;
      @media all and (max-width:767px) {
        top: 50%;
        transform: translateY(-50%);
      }
      .big {
        font-size: 33px;
        font-weight: 300;
        letter-spacing: 1.2px;
        text-align: center;
        color: #ffffff;
        opacity: 0;
        transition: all 0.5s ease 0.5s;
      }
      .small {
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.3px;
        text-align: center;
        color: #ffffff;
        opacity: 0;
        transition: all 0.5s ease 0.5s;
      }
    }
    &.slick-active {
      .slide__header {
        .big {
          font-size: 33px;
          font-weight: 300;
          letter-spacing: 1.2px;
          text-align: center;
          color: #ffffff;
          opacity: 1;
        }
        .small {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.3px;
          text-align: center;
          color: #ffffff;
          opacity: 1;
        }
      }
    }
    .slider_hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(174, 205, 17, 0.85);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      opacity: 0;
      transition: all 0.3s ease;
      padding: 0 30px;
      .collto {
        width: 100%;
        max-width: 600px;
        .header_big {
          font-size: 33px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1.2px;
          color: #000000;
          margin-bottom: 10px;
        }
        .header_small {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 0.3px;
          color: #000000;
          margin-bottom: 40px;
        }
        .text {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.29;
          letter-spacing: 0.4px;
          text-align: center;
          color: #000000;
          margin-bottom: 40px;
        }
      }
    }
    &:hover {
      .slide__header {
        opacity: 0;
      }
      .slider_hover {
        opacity: 1;
      }
    }
  }

}

.slider_wrap {
  position: relative;
}




.about {
  &__section {
    margin-bottom: 45px;
    @media all and (max-width: 767px) {
      margin-bottom: 30px;
    }
    .h2_green {
      font-size: 21px;
      font-weight: 300;
      letter-spacing: 0.8px;
      color: #b8cf41;
      margin-bottom: 20px;
    }
    
    .text {
      padding-right: 30px;
      font-size: 14px;
      line-height: 1.5;
      font-weight: 300;
      letter-spacing: 0.4px;
      text-align: left;
      color: #4a4a4a;
      @media all and (max-width: 1017px) {
        padding-right: 15px;
      }
    }
  }
  .map {
    position: relative;
    text-align: center;
    padding: 45px 20px 0 0;
    margin-bottom: 73px;
    @media all and (max-width: 1025px) {
    margin-bottom: 29px;
      padding-left: 0;
      padding-right: 15px;
    }
    @media all and (max-width: 767px) {
      padding-top: 20px;
      margin-bottom: 0;
      padding-right: 0;
    }
    &__img {
      position: relative;
      width: 650px;
      max-width: 100%;
      height: auto;
    }
  }
  @media all and (max-width: 767px) {
    border-right: none;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
    margin-bottom: 30px;
    &__section {
      .text {
        padding-right: 0;
      }
    }
  }
}


.side {
  border-left: 1px solid #e6e6e6;
  padding-left: 30px;
  margin-left: -30px;
  margin-bottom: 73px;
  @media all and (max-width: 1025px) {
    margin-bottom: 29px;
  }
  @media all and (max-width: 1017px) {
    padding-left: 15px;
    margin-left: -15px;
  }
  @media all and (max-width: 767px) {
    padding-left: 0;
    margin-left: 0;
    border-left: none;
  }
  &__description {
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: left;
    color: #000000;
    padding-bottom: 27px;
    border-bottom: 1px solid #e6e6e6;
    @media all and (max-width: 1017px) {
      font-size: 16px;
    }
    @media all and (max-width: 767px) {
      border: none;
    }
  }
  .list {
    &__item {
      height: 78px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 16px;
      letter-spacing: 0.6px;
      text-align: left;
      color: #000000;
      cursor: pointer;
      border-bottom: 1px solid #e6e6e6;
      background-color: #ffffff;
      transition: all 0.3s ease;
      position: relative;
      &:last-child {
        border-bottom: none;
        @media all and (max-width: 767px) {
          padding-bottom: 0;
        }
      }
      .icon {
        width: 50px;
        height: 35px;
        margin-right: 20px;
        fill: #b8cf41;
        opacity: 1;
        transition: all 0.3s ease;
      }
      .name {
        opacity: 1;
        transition: all 0.3s ease;
      }
      .description {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: auto;
        min-height: 100%;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        opacity: 0;
        transition: all 0.3s ease;
        padding: 10px 10px;
        background-color: #fbfbfb;
      }
      &:hover {
        background-color: #fbfbfb;
        @media all and (max-width: 767px) {
          background-color: #ffffff;
        }
        .icon {
          fill: #010101;
        }
      }
      &.open {
        .icon {
          opacity: 0;
          transform: translateY(-100px);
          visibility: hidden;
        }
        .name {
          opacity: 0;
          transform: translateY(-100px);
          visibility: hidden;
        }
        .description {
          opacity: 0.8;
          top: 0;
        }
      }
    }
    @media all and (max-width:1242px) {
      &__item {
        .description {
          padding: 5px 10px;
        }
      }
    }
    @media all and (max-width:767px) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      &__item {
        width: 50%;
        height: auto;
        border: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .icon {
          margin-bottom: 10px;
        }
        .description {
          min-height: 0;
          padding: 10px;
        }
      }
    }
    @media all and (max-width:520px) {
      &__item {
        padding-bottom: 20px;
        padding-top: 10px;
        justify-content: flex-start;
      }
    }
  }
}


.partners {
  border-top: 1px solid #e6e6e6;
  padding-top: 40px;
  padding-bottom: 80px;
  @media all and (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 40px;

  }
  .section_header {
    margin-bottom: 34px;
  }
  &__slider {
    margin-left: -12.5px;
    margin-right: -12.5px;
    .slick-next, .slick-prev {
      top: 75%;
    }
    .slick-slide {
      opacity: 0;
      transition: 1s ease;
      &.slick-active {
        opacity: 1;
      }
    }
  }
  &__item {
    padding: 0 12.5px;
    .logo {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
}

.products {
  padding-top: 30px;
  padding-bottom: 55px;
  background-color: rgba(230, 230, 230, 0.3);
  @media all and (max-width: 1025px) {
    padding-bottom: 30px;
  }
  .wrap_f_slider {
    padding: 0;
  }
  .products_slider {
    margin-left: -10px;
    margin-right: -10px;
    @media all and (max-width: 1025px) {
      .slick-prev, .slick-next {
        top: 50%;
      }
    }
    .slick-slide {
      opacity: 0;
      transition: 1s ease;
      &.slick-active {
        opacity: 1;
      }
    }
    &__item {
      position: relative;
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
      // width: 270px;
      height: 530px;
      margin: 10px 13px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      transition: all 0.3s ease;
      text-decoration: none;
      &:hover {
        box-shadow: 2px 6px 12px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
      }
      .label {
        font-size: 14px;
        line-height: 24px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 3px 0 3px;
        padding: 0 14px;
        &.blue {
          color: #054475;
          background-color: #aaeaf7;
        }
        &.green {
          color: #417505;
          background-color: #def7c4;
        }
        &.yellow {
          color: #755505;
          background-color: #f3eba1;
        }
      }
      .image {
        width: 270px;
        max-width: 100%;
        height: 270px;
        display: block;
        object-fit: contain;
        object-position: bottom;
      }
      .card_header {
        padding: 0 19px;
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.6px;
        text-align: left;
        color: #000000;
      }
      .card_description {
        flex-grow: 1;
        padding: 0 19px;
        font-size: 13px;
        line-height: 1.38;
        letter-spacing: 0.4px;
        text-align: left;
        color: #000000;
        opacity: 0.6;
      }
      .card_bottom {
        width: 100%;
        height: 80px;
        border-radius: 0 0 3px 3px;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .logo {
          width: 100%;
          height: 60px;
          object-fit: contain;
        }
      }
      @media all and (max-width: 1017px) {
        // width: 210px;
        .label {
          width: 100%;
          border-radius: 3px 3px 0 0;
          text-align: center;
        }
        .image {
          height: 210px;
          display: block;
        }
      }
    }
  }
  @media all and (max-width: 767px) {
    display: none;
  }
}

.news {
  background-color: rgba(230, 230, 230, 0.5);
  padding-top: 35px;
  padding-bottom: 70px;
  .news_list {
    position: relative;
    .slick-next {
      right: -25px;
    }
    .slick-prev {
      left: -25px;
    }
    @media all and (max-width: 767px) {
      .slick-next {
        right: -20px;
      }
      .slick-prev {
        left: -20px;
      }
    }
    .slick-slide {
      opacity: 0;
      transition: 1s ease;
      &.slick-active {
        opacity: 1;
      }
    }
    &__item {
      width: 25%;
      .category {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.5px;
        margin-bottom: 18px;
      }
      .news_header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
      }
      .date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        border-radius: 3px;
        background-color: #b8cf41;
        color: #ffffff;
        font-weight: 300;
        margin-right: 11px;
        .day {
          font-size: 21px;
          text-align: center;
          line-height: 1;
        }
        .month {
          font-size: 11px;
          text-align: center;
          line-height: 1;
        }
      }
      .text {
        line-height: 1.2;
        width: 190px;
        font-size: 16px;
        letter-spacing: 0.6px;
        text-align: left;
        color: #000000;
        .link {
          color: #000000;
        }
      }
      @media all and (max-width: 1017px) {
        width: 35%;
      }
      @media all and (max-width: 767px) {
        width: 50%;
      }
      @media all and (max-width: 570px) {
        width: 100%;
      }
    }
  }
  @media all and (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 50px;
    .wrap_f_slider {
      padding: 0;
    }
  }
}

.section_header {
  margin-bottom: 25px;
	font-size: 21px;
	font-weight: 300;
	letter-spacing: 0.8px;
	text-align: left;
	color: #000000;
}