
.partner_description {
  padding-top: 50px;
  .section__text {
    max-width: 864px;;
  }
  @media all and (max-width: 1025px) {
      padding-top: 40px;
  }
  @media all and (max-width: 767px) {
    padding-top: 30px;
  }
  .section {
    margin-bottom: 40px;
    @media all and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}

.gray {
  @media all and (max-width: 767px) {
    background: #ffffff;
  }
}

.partners {
  padding-top: 40px;
  padding-bottom: 80px;
  @media all and (max-width: 1025px) {
    padding-top: 30px;
    .section__header {
      display: none;
    }
  }
  @media all and (max-width: 767px) {
    padding-top: 0;
  }
  .section_header {
    margin-bottom: 34px;
  }
  &__slider {
    margin-left: -13px;
    margin-right: -13px;
    .slick-next, .slick-prev {
      top: 75%;
    }
    .slick-slide {
      opacity: 0;
      transition: 1s ease;
      &.slick-active {
        opacity: 1;
      }
    }
  }
  &__item {
    // padding: 0 10px;
    margin: 0 13px;
    .logo {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
  @media all and (max-width: 1025px) {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 35px;
  }
  @media all and (max-width: 767px) {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-top: 20px;
    border-top: 2px solid #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    &__slider {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 -15px;
    }
    &__item {
      width: 33%;
      margin-left: 0;
      margin-right: 0;
      padding: 0 15px;
      margin-bottom: 30px;
    }
  }
}


.rewrite {
  padding-top: 50px;
  padding-bottom: 85px;
  @media all and (max-width: 1025px) {
    padding-bottom: 40px;
  }
  @media all and (max-width: 767px) {
    padding-top: 20px;
  }
  .section {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    @media all and (max-width: 767px) {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid #e6e6e6;
    }
  }
}


.form {
  @media all and (max-width:1025px) {
    .section__header {
      display: block;
    }
  }
  @media all and (max-width:1017px) {
    &__wrap {
      flex-direction: column;
    }
    &__inputs,  &__others {
      width: 100%;
    }
  }
  @media all and (max-width: 767px) {
    padding-top: 20px;
  }
}