.product {
  padding-top: 40px;
  padding-bottom: 40px;
  @media all and (max-width:767px) {
    padding-bottom: 0;
  }
  .desktop_only {
    display: block;
    @media all and (max-width:767px) {
      display: none;
    }
  }
  @media all and (max-width:767px) {
    margin-bottom: 30px;
  }
  .label {
    height: 24px;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 14px;
    margin-bottom: 10px;
    &.blue {
      color: #054475;
      background-color: #aaeaf7;
    }
    &.green {
      color: #417505;
      background-color: #def7c4;
    }
    &.yellow {
      color: #755505;
      background-color: #f3eba1;
    }
  }
  .name {
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 0.8px;
    text-align: left;
    color: #000000;
    margin-bottom: 20px;
  }
  .description {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    color: #4a4a4a;
    margin-bottom: 30px;
  }

  .tabs {
    &__nav {
      display: flex;
      @media all and (max-width:1025px) {
        justify-content: space-between;
        border-bottom: 4px solid #e6e6e6;
      }
      .tabs_btn {
        transform: translateY(4px);
        border: none;
        background-color: #ffffff;
        border-bottom: 4px solid #e6e6e6;
        transition: all 0.3s ease;
        font-size: 19px;
        font-weight: 300;
        letter-spacing: 0.7px;
        color: #000000;
        color: #a6a6a6;
        flex-grow: 1;
        text-align: left;
        padding-left: 17px;
        &:focus {
          outline: none;
        }
        &:hover {
          border-bottom: 4px solid #aecd11;
          color: #000000;
        }
        &.active {
          border-bottom: 4px solid #aecd11;
          color: #000000;
        }
        @media all and (max-width:1200px) {
          font-size: 16px;
          padding: 0 0 11px;
        }
        @media all and (max-width:1025px) {
          font-size: 16px;
          padding: 0 0 4px;
          flex-grow: 0;
        }
        @media all and (max-width:767px) {
          font-size: 12px;
        }
      }
    }
    .tabs_sections {
      position: relative;
      &__section {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 0.4px;
        text-align: left;
        color: #4a4a4a;
        padding-top: 30px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        transform: translateY(100px);
        .list {
          list-style: none;
          padding-left: 30px;
          &__item {
            position: relative;
            padding-left: 0;
            &::after {
              position: absolute;
              content: '';
              top: 10px;
              left: - 10px;
              display: block;
              width: 3px;
              height: 3px;
              border-radius: 50%;
              background-color: #aecd11;
            }
          }
        }
        &.active {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);

        }
      }

    }
  }
  .btn_3d {
    margin: 35px 0 0 auto;
    background-color: #ffffff;
    border: none;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: left;
    color: #4a4a4a;
    display: flex;
    align-items: center;
    @media all and (max-width: 1025px) {
      margin-top: 0;
    }
    .icon {
      margin-left: 20px;
      width: 42px;
      height: 42px;
      border-radius: 6px;
      background-image: url('../img/3d.png');
      background-repeat: no-repeat;
      background-position: center center;
    }
    @media all and (max-width:767px) {
      display: none;
    }
  }
  .galery {
    margin-bottom: 60px;
    @media all and (max-width:767px) {
      margin-bottom: 80px;
    }
    &__img {
      img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
  }
  .logo {
    position: absolute;
    bottom: 20px;
    right: 15px;
    @media all and (max-width:1025px) {
      bottom: -60px;
    }
    @media all and (max-width:767px) {
      display: none;
    }
    &__img {
      display: block;
      margin: 0 0 0 auto;
      width: 100px;
      height: auto;
    }
  }
  .mobile_only {
    display: none;
    .logo {
      display: block;
      position: relative;
      top: auto;
      bottom: auto;
      left: auto;
      right: auto;
      margin: 0 auto;
      &__img {
        margin: 0 auto;
      }
    }
    @media all and (max-width:767px) {
      display: block;
    }
  }
}


.products {
  padding-top: 30px;
  padding-bottom: 55px;
  @media all and (max-width:1025px) {
    padding-bottom: 40px;
  }
  .header_section {
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: #000000;
  }
  @media all and (max-width:767px) {
    display: none;
  }
  .products_slider {
    margin-left: -13px;
    margin-right: -13px;

    .slick-next, .slick-prev {
      top: 25%;
    }

   .slick-next {
      right: -15px
    }
    .slick-prev {
      left: -15%;
    }
    .slick-slide {
      opacity: 0;
      transition: 1s ease;
      &.slick-active {
        opacity: 1;
      }
    }
    &__item {
      position: relative;
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px #e6e6e6;
      height: 530px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      transition: all 0.3s ease;
      margin: 10px 13px;
      text-decoration: none;
      &:hover {
        box-shadow: 2px 6px 12px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
      }
      .label {
        font-size: 14px;
        line-height: 24px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 3px 0 3px;
        padding: 0 14px;
        &.blue {
          color: #054475;
          background-color: #aaeaf7;
        }
        &.green {
          color: #417505;
          background-color: #def7c4;
        }
        &.yellow {
          color: #755505;
          background-color: #f3eba1;
        }
      }
      .image {
        width: 270px;
        max-width: 100%;
        height: 270px;
        display: block;
        object-fit: contain;
        object-position: bottom;
      }
      .card_header {
        padding: 0 19px;
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.6px;
        text-align: left;
        color: #000000;
      }
      .card_description {
        flex-grow: 1;
        padding: 0 19px;
        font-size: 13px;
        line-height: 1.38;
        letter-spacing: 0.4px;
        text-align: left;
        color: #000000;
        opacity: 0.6;
      }
      .card_bottom {
        width: 100%;
        height: 80px;
        border-radius: 0 0 3px 3px;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .logo {
          width: 100%;
          height: 60px;
          object-fit: contain;
        }
      }
      @media all and (max-width: 1017px) and (min-width: 767px) {
        .label {
          width: 100%;
          border-radius: 3px 3px 0 0;
          text-align: center;
        }
        .image {
          height: 210px;
          display: block;
        }
      }
    }
  }
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
  @media all and (max-height:550px) {
    display: block;
  }
  @media all and (max-width:767px) {
    display: none;
  }
  &__window {
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 75px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 15px;
    transform: translateX(200px);
    opacity: 0;
    transition: all 0.3s ease;
    .btn_close {
      position: absolute;
      top: 30px;
      right: 30px;
      height: 25px;
      width: 25px;
      padding: 0;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      &::after,&::before {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #979797;
        top: 50%;
        left: 0;
        transition: all 0.3s ease;
      }
      &::after {
        transform: rotate(45deg)
      }
      &::before {
        transform: rotate(-45deg)
      }
      &:hover {
        &::after,&::before {
          background-color: #000000;
        }
      }
    }
    .input {
      max-width: 100%;
    }
    .section {
      &__text {
        width: 100%;
        max-width: 500px;
        margin-bottom: 30px;
      }
    }
    @media all and (max-height:550px) {
      display: block;
      padding-top: 80px;
      padding-bottom: 35px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0;
      height: 100%;
      width: 100vw;
      overflow-y: auto;
    }
    @media all and (max-width:767px) {
      display: block;
      padding-top: 80px;
      padding-bottom: 35px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0;
      height: 100%;
      width: 100vw;
      overflow-y: auto;
    }
  }
  &.visible {
    visibility: visible;
    opacity: 1;
    .popup__window {
      transform: translateX(0);
      opacity: 1;
    }
  }
}