.products_description {
  padding: 55px 0 60px;
  .row {
    display: flex;
    align-items: center;
  }
  @media all and (max-width: 1025px) {
    padding: 40px 0 30px;
  }
  @media all and (max-width: 767px) {
    padding: 30px 0;
    .row {
      display: block;
    }
  }
  .section {
    @media all and (max-width: 767px) {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 2px solid #d2d4d6;
    }
  }
}
.big_text {
  width: 360px;
  font-size: 28px;
	font-weight: 300;
	line-height: 1.32;
	letter-spacing: 1px;
  color: #000000;
  @media all and (max-width: 1025px) {
    font-size: 24px;
  }
  @media all and (max-width: 767px) {
    width: auto;
  }
}


.rewrite {
  padding: 50px 0;
  @media all and (max-width: 1025px) {
    padding-bottom: 30px;
  }
  @media all and (max-width: 767px) {
    padding-top: 30px;
  }
  .section {
    @media all and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}



.products {
  padding-top: 50px;
  padding-bottom: 55px;
  background-color:#ffffff;
  margin: 0;
  &.grid {
    padding-bottom: 0;
  }
  @media all and (max-width: 1025px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media all and (max-width: 767px) {
    padding-bottom: 30px;
  }
  .products_slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -13px;
    .slick-slide {
      opacity: 0;
      transition: 1s ease;
      &.slick-active {
        opacity: 1;
      }
    }
    &__item {
      position: relative;
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px #e6e6e6;
      // width: 270px;
      height: 530px;
      // margin-right: 25px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      transition: all 0.3s ease;
      margin: 10px 13px;
      text-decoration: none;
      &:hover {
        box-shadow: 2px 6px 12px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
      }
      .label {
        font-size: 14px;
        line-height: 24px;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0 3px 0 3px;
        padding: 0 14px;
        &.blue {
          color: #054475;
          background-color: #aaeaf7;
        }
        &.green {
          color: #417505;
          background-color: #def7c4;
        }
        &.yellow {
          color: #755505;
          background-color: #f3eba1;
        }
      }
      .image {
        width: 270px;
        max-width: 100%;
        height: 270px;
        display: block;
        margin: 0 auto;
        object-fit: contain;
        object-position: bottom;
      }
      .card_header {
        padding: 0 19px;
        margin-bottom: 12px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.6px;
        text-align: left;
        color: #000000;
      }
      .card_description {
        flex-grow: 1;
        padding: 0 19px;
        font-size: 13px;
        line-height: 1.38;
        letter-spacing: 0.4px;
        text-align: left;
        color: #000000;
        opacity: 0.6;
      }
      .card_bottom {
        width: 100%;
        height: 80px;
        border-radius: 0 0 3px 3px;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .logo {
          width: 100%;
          height: 60px;
          object-fit: contain;
        }
      }
      @media all and (max-width: 992px) and (min-width: 767px) {
        // width: 210px;
        .label {
          width: 100%;
          border-radius: 3px 3px 0 0;
          text-align: center;
        }
        .image {
          height: 210px;
          display: block;
        }
      }
      @media all and (max-width: 420px) {
        width: 100%;
      }
    }
  }
  @media all and (max-width: 1025px) {
    .products_slider {
      margin: 0 -13px;}
  }
  @media all and (max-width: 767px) {
    .products_slider {
      margin: 0;
      .products_slider__item {
        margin: 0;
        padding: 0;
      }
      .product_slider__wrap {
        width: 100%;
        padding: 6px;
      }
    }
  }
  &.grid {
    .products_slider {
      display: flex;
      flex-wrap: wrap;
      .product_slider__wrap {
        width: calc(25%);
      }
      &__item {
        margin-bottom: 25px;

      }
      .clear_product {
        display: block;
        width: 270px;
      }
      @media all and (max-width: 1200px) {
        .product_slider__wrap {
          width: calc(33.3%);
        }
      }
      @media all and (max-width: 767px) {
        justify-content: center;
        &__item {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  }
}

.show_all {
  margin: 30px 0 0;
  @media all and (max-width: 767px) {
    display: none;
  }
}


.form {
  @media all and (max-width: 1017px) {
    .form__wrap {
      flex-direction: column;
    }
    &__inputs,  &__others {
      width: 100%;
    }
  }
}