/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
    &:focus {
        outline: none;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}



.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 10px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 30%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: 1;
        }
    }
    &.slick-disabled {
        opacity: 0;
        display: none;
    }
    &:before {
        content: '';
        display: block;
        width: 10px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
}

.slick-prev {
    left: -15px;
    z-index: 1;
    &:before {
        background-image: url("../img/arrow_left.png");
    }
    &:after {
        content: '';
        background-image: url("../img/arrow_left_hover.png");
    } 
    &:hover {
        &:before {
            background-image: url("../img/arrow_left_hover.png");
        } 
    }
}

.slick-next {
    right: -15px;
    z-index: 1;
    &:before {
        background-image: url("../img/arrow_right.png");
    }
    &:after {
        content: '';
        background-image: url("../img/arrow_right_hover.png");
    } 
    &:hover {
        &:before {
            background-image: url("../img/arrow_right_hover.png");
        } 
    }
}

.slick-dots {
    position: absolute;
    bottom: -50px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 10px;
        width: 10px;
        margin: 0 4px;
        padding: 0;
        cursor: pointer;
        button {
            background: #ffffff;
            display: block;
            height: 10px;
            width: 10px;
            border: solid 1px #d2d4d6;
            border-radius: 50%;
            outline: none;
            color: transparent;
            padding: 0;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        &.slick-active button {
            background-color: #aecd11;
            border: solid 1px #91ac05;
        }
    }
}