.header.dark {
 	background-color: rgba(74, 74, 74, 0.9) !important;
 }
.header.dark .nav_header__link {
	color: #c1c1c1;
}
.header.dark .nav_header__link.active, .header.dark .nav_header__link:hover{
	color: #b8cf41;
}
.news .news_list__item .text .link{
	color: #000;
}
.timeline__content, .timeline__content:hover {
	cursor: default;
}

.activities_list::after {
	display: none;
}
.activities-img {
	border-bottom: 8px #aecd11 solid;
}

.activities_list__item .item_header {
	font-weight: 500;
}



.header .nav_btn, .header .nav_heder_wrap {
	background: inherit;
}
.header.visible .header__wrap .nav_heder_wrap {
	border-top: solid 1px #d2d4d6;
}
/*.header.dark .nav_header__link.active, .header.dark .nav_header__link:hover {
    color: #b8cf41;
    text-decoration: none;
}*/
@media (max-width: 1017px) {
	.activities_list {
		padding: 45px 0 0;
	}
	.container {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.activities_list__item {
		width: 33.3333%;
		padding-right: 26px;
	}
}
@media (max-width: 767px) {
	.activities {
		padding-top: 30px;
		border-bottom: 0px;
	}
	.activities_list {
		padding: 0;
	}
	.activities_list__item:last-child{
		border-bottom: 0px solid #e6e6e6;
	}
}