@import "import/_bootstrap";
@import "import/_base";

body {
  background-color: #000000;
  margin-top: 0;
  background-image: url('../img/404.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  height: 100vh;
}

.header {
  padding-top: 77px;
  font-size: 210px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 5.4px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  margin-bottom: 30px;
  @media all and (max-width:768px) {
    padding-top: 0;
    font-size: 150px;
    letter-spacing: 3.8px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 30px;
  padding-bottom: 65px;
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    background-color: #aecd11;
    width: 200px;
  }
  &__link {
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #d2d4d6;
    margin-bottom: 16px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    &:hover {
      color: #99b40b;
      text-decoration: none;
    }
  }
}

.footer {
  position: relative;
  padding-top: 20px;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: left;
  color: #9b9b9b;
  width: 260px;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    display: block;
    width: 150px;
    height: 2px;
    background-color: #4a4a4a;
  }
  .adres {
    margin-bottom: 20px;
  }
  .mail {
    color: #aecd11;
  }
}