<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="footer__wrap">
            <div class="footer__about">
              <a href="index.html">
                <img class="logo" src="img/logo_mini.svg">
              </a>
              <div class="contacts">
                <div class="name">«Evolet Healthcare»</div>
                <div class="adres">
                    Осенний бульвар 23, БЦ Крылатский, офис 908, 121609, Москва, Россия
                </div>
                <a href="tel://+7 (495) 758-89-89" class="phone">+7 (495) 758-89-89</a>
                <a href="mailto:info@evolet.ru" class="mail">info@evolet.ru</a>
              </div>
            </div>
            <div class="footer__nav">
              <nav class="nav_footer">
                <a href="about.html" class="nav_footer__link">О нас</a>
                <a href="activities.html" class="nav_footer__link active">Что мы делаем</a>
                <a href="products.html" class="nav_footer__link">Продукты</a>
                <a href="partners.html" class="nav_footer__link">Партнерство</a>
                <a href="career.html" class="nav_footer__link">Карьера</a>
                <a href="contacts.html" class="nav_footer__link">Контакты</a>
              </nav>
              <div class="links">
                <div class="socials">
                  <a href="" class="socials__link fb"></a>
                  <a href="" class="socials__link in"></a>
                </div>
                <a href="" class="creater">Создание сайта</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>